RewriteEngine On
RewriteCond $1 !^(index\.php|tools|static|uploads|public)
RewriteRule ^(.*)$ index.php/$1 [L]


#RewriteEngine on
#RewriteRule !\.(jpg|jpeg|gif|png|bmp|ico|css|txt|js|html|swf)$ index.php [NC,L]
