@charset "utf-8";

/* CSS Document */
/****************************
 * version:1.0
 * By:Vick
 * Date:2013-01-08
 *
 */
/*大体架构
 ----------*/
body, html { background:#141517;color: #444444; font-family: simSun; position: relative; width:100%; height:100%;}
.wrap { position: relative; margin: 0 auto; width: 100%; min-width: 1000px;  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":""); height:auto;overflow:hidden; }
.box { position: relative; width: 100%; min-width: 1000px;  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");height:auto; margin: 0 auto; }
.main { width: 100%;min-width: 1000px;  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":""); margin: 0 auto;overflow:hidden; position: relative; background:#141517; height:auto;}
.main1 { width: 100%;min-width: 1000px;  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":""); margin: 0 auto;overflow:hidden; position: relative; background:#141517; height:auto;}
.content { width: 100%;min-width: 1000px;  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");overflow: hidden;  height:auto;margin: 0 auto; position: relative;}
/*颜色值
 --------------*/
.orange { color: #ffe400; }
.blue { color: #699BCC; }
/*清除浮动
 --------------*/
.clear { padding: 0; margin: 0; width: 0; height: 0; font-size: 0; overflow: 0; clear: both; line-height: 0; }
/*清楚文字内容
 --------------*/
.txtIndent { text-indent: -9999em; }
/*用于seo不显示的内容
 --------------*/
.seo { width: 0; height: 0; overflow: hidden; position: absolute; visibility: hidden; top: 0; left: 0; }
.seo, .hideImg {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
}
.hideImg{
	overflow: hidden;
}
.hideImg img{
	width: 0;
	height: 0;
	overflow:hidden;
}

/*左浮动和右浮动
 --------------*/
.float_l { float: left; }
.float_r { float: right; }
.float_r, .float_l { _display: inline; }

/**头部***/
.header{ width:100%; height:100px; border-bottom:2px solid #e4007f; position:relative; z-index:999; margin:0 auto;}
.header_logo{ background:url(/resources/style/app/images/header_logo.gif) no-repeat; width:220px; height:55px; display:block; text-indent:-9999em; position:absolute; left:65px; top:30px;}
.header-user{position:absolute; right:65px; top:0; height:100px;}
.header-user .picture{ float:left;}
.header-user .picture img{ border:1px solid #fff; border-radius:2px; margin-top:64px;}
.header-tips{ float:left; height:100px; position:relative;}
.header-tips span.user-name{ font-size:14px; font-family:arial; font-weight:bold; padding:70px 15px 10px 15px; display:block;background:url(/resources/style/app/images/ico_02.png) no-repeat right 65px; display:block;}
.header-tips .tip01{ font-family:arial; text-align:center; display:block; color:#141517; background:url(/resources/style/app/images/ico001.png) no-repeat; width:26px; height:22px; position:absolute; top:50px; left:45px; line-height:22px;}
.header-tips .tip02{ background: url(/resources/style/app/images/xl.png) no-repeat top left; width:97px; padding:7px 0 0 0; position:absolute; top:90px; left:-30px; display:none; height:90px; overflow:hidden;}
.header-tips .tip02 a{ display:block; line-height:30px; text-indent:34px;width:97px; color:#fff; font-family:simHei; font-weight:bold; border-bottom:1px solid #757575;}
.header-tips .tip02 a:hover{ color:#c20e70;}
.header-tips .tip02 a.ico01{background:url(/resources/style/app/images/ico002.png) no-repeat 10px center #303439;}
.header-tips .tip02 a.ico01 span{ font-weight:normal; padding:0 0 0 10px;color:#c20e70;}
.header-tips .tip02 a.ico02{background:url(/resources/style/app/images/ico003.png) no-repeat 10px center #303439;}
.header-tips .tip02 a.ico03{background:url(/resources/style/app/images/ico004.png) no-repeat 10px center #303439;}
.header-tips:hover .tip02{ display:block;}
.header-tips span.line{ float:right;}
.to-make-phos{ float:left;padding:70px 10px 10px 15px; font-family:Microsoft YaHei;}
.to-make-phos:hover{ color:#c20e70;}




/**底部版权**/
.footer{ width:100%;opacity: 1;visibility: visible;margin:15px auto 0 auto; border-top:1px solid #4a4a4a; line-height:27px; color:#6D6D6D; overflow:hidden; max-width:1400px;}
.footer .copyright{ padding:0 0 0 45px;}
.footer .links{ float:right; padding:0 45px 0 0;}
.footer .links span{ color:#e4007f;}
.footer .links a:hover{ text-decoration:underline;}


/**分页**/
.page{ text-align:center; padding:30px 0; color:#fff;}
.page a{ color:#fff; padding:0 3px;}
.page a.on{color:#c20e70;}


/*分享*/
.sharebox{ width:345px; height:130px; background:#757575; position:absolute; left:50%; top:50%; margin:-65px 0 0 -172px;}
.sharebox a.close{ display:block; width:22px; height:22px; position:absolute; right:7px; top:7px; background:url(/resources/style/app/images/icos/close.gif) no-repeat; margin:0;}
.sharebox h3{ font-size:14px; font-weight:bold; color:#fff; padding:10px 15px;}
.sharebox a{ float:left;width:55px; height:55px; margin:15px 25px 0 0;}
.sharebox a.tsina{ background:url(/resources/style/app/images/icos/tsina.png) no-repeat;margin:15px 30px 0 20px;}
.sharebox a.tqq{ background:url(/resources/style/app/images/icos/tqq.png) no-repeat;}
.sharebox a.douban{ background:url(/resources/style/app/images/icos/douban.png) no-repeat;}
.sharebox a.renren{ background:url(/resources/style/app/images/icos/renren.png) no-repeat;}








