@charset "utf-8";

/* CSS Document */
/****************************
 * version:1.0
 * By:Vick
 * Date:2013-01-08
 *
 */
/*大体架构
 ----------*/
body, html {
    background: #141517;
    color: #444444;
    font-family: simSun;
    position: relative;
    width: 100%;
    height: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.box {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.content {
    width: 100%;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    position: relative;
}

/*颜色值
 --------------*/
.orange {
    color: #ffe400;
}

.blue {
    color: #699BCC;
}

/*清除浮动
 --------------*/
.clear {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: 0;
    clear: both;
    line-height: 0;
}

/*清楚文字内容
 --------------*/
.txtIndent {
    text-indent: -9999em;
}

/*用于seo不显示的内容
 --------------*/
.seo {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.seo, .hideImg {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.hideImg {
    overflow: hidden;
}

.hideImg img {
    width: 0;
    height: 0;
    overflow: hidden;
}

/*左浮动和右浮动
 --------------*/
.float_l {
    float: left;
}

.float_r {
    float: right;
}

.float_r, .float_l {
    _display: inline;
}


/**分页**/
.page {
    text-align: center;
    padding: 30px 0;
    color: #fff;
}

.page a {
    color: #fff;
    padding: 0 3px;
}

.page a.on {
    color: #c20e70;
}

/*分享*/
.sharebox {
    width: 345px;
    height: 130px;
    background: #757575;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -65px 0 0 -172px;
}

.sharebox a.close {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 7px;
    top: 7px;
    background: url(/resources/style/app/images/icos/close.gif) no-repeat;
    margin: 0;
}

.sharebox h3 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 15px;
}

.sharebox a {
    float: left;
    width: 55px;
    height: 55px;
    margin: 15px 25px 0 0;
}

.sharebox a.tsina {
    background: url(/resources/style/app/images/icos/tsina.png) no-repeat;
    margin: 15px 30px 0 20px;
}

.sharebox a.tqq {
    background: url(/resources/style/app/images/icos/tqq.png) no-repeat;
}

.sharebox a.douban {
    background: url(/resources/style/app/images/icos/douban.png) no-repeat;
}

.sharebox a.renren {
    background: url(/resources/style/app/images/icos/renren.png) no-repeat;
}








