.follows-item {
    display: block;
    float: left;

    width: 196px;
    height: 70px;
    margin: 0 32px 24px 0;

    background-color: #30343a;
}

.follows-item-avatar {
    float: left;

    width: 70px;
    height: 70px;
}

.follows-item-username {
    display: block;

    height: 36px;
    margin: 8px 0 0 80px;
    font-size: 14px;
    font-weight: bold;
}

.follows-item-username a{
    color: #fff;
}

.follows-item-link {
    display: block;

    margin-left: 80px;
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
}