.win-content {
    display: none;
}

.form-item {
    margin: 1px 0 0 90px;
    padding: 10px 15px;
    line-height: 20px;
    color: #fff;
}

.msg-nodata {
    text-align: center;
    line-height: 100px;

    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.msg-nodata a {
    font-size: 26px;
    font-weight: bold;
    color: #902a63;
    text-decoration: underline;
}


.page-title {
    color: #fff;
    overflow: hidden;
}

.page-title div {
    border-bottom: 1px solid #4a4a4a;
    padding: 5px 0;
}

.page-title h1 {
    font-size: 14px;
    font-weight: bold;
}

.page-title span img {
    margin-right: 4px;
}

.page-title a {
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 12px;
    margin-top: 4px;
}

.page-title a:hover {
    color: #e4007f;
}

.page-container {
    padding: 0 65px;
}

p.content {
    line-height: 20px;
    padding: 10px 0;
}


/** simple table **/
table.simple {
    background: #626262;
    color: #fff;
}

table.simple th, table.simple td {
    padding: 5px 40px;
    text-align: left;
    font-size: 14px;
}

table.simple th {

    line-height: 30px;
    font-weight: normal;
}

table.simple tr:last-child td {
    padding-bottom: 30px;
}

.desc{
    font-size: 14px;
    padding: 30px;
}

label.validateError {
    display: block;
    color: red;
    height: 0;
}

.center {
    margin: 0 auto;
}

.btn {
    display: block;
    cursor: pointer;
    text-align: center;
    border: none;
}

.btn-small {
    width: 88px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 6px;
}

.btn-large {
    width: 180px;
    height: 54px;
    line-height: 54px;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 6px;
}

.btn-normal {
    color: #fff;
    background: #444444;
}


.btn-important {
    color: #e4007f;
    background: #fff;
}
