
.register {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /*background: url(/resources/style/app/images/register.gif) no-repeat center 140px;*/
}

.register .logo {
    display: block;
    text-indent: -9999em;
    background: url(/resources/style/app/images/index_logo.png) no-repeat center center;
    width: 218px;
    height: 200px;
    margin: 0 auto;
}

.back {
    margin: 131px 0 0 932px;
    color: #fff;
    float: left;
    display: inline;
    font-weight: bold;
}

.reg_begin {
    margin: 16px auto 0 auto;
}

.reg_begin .reg_left {
    /*float: left;*/
    /*display: inline;*/
    color: #fff;
    margin: 0 auto;
    width: 220px;
}

.reg_begin .reg_right {
    float: left;
    display: inline;
    color: #fff;
    margin: 0 0 0 63px;
}

.reg_begin .reg_tu {
    float: left;
    display: inline;
    width: 75px;
}

.reg_begin .reg_tu p {
    color: #fff;
    line-height: 2em;
    text-align: center;
    width: 75px;
}

.reg_begin .reg_tu p a {
    color: #fff;
}

.reg_begin .reg_1 {
    margin-bottom: 24px;
}

.reg_begin .int {
    background: #fff;
    width: 200px;
    height: 41px;
    line-height: 41px;
    border: 0;
    padding: 0 15px 0 15px;
    color: #686868;
}

.reg_begin .reg_1 span a {
    padding-left: 20px;
    color: #fff;
}

.reg_begin .z_btn {
    border: 0;
    margin: 11px 0 0 41px;
}

.reg_begin .reg_2 {
    background: url(/resources/style/app/images/text_box1.png) no-repeat;
    width: 223px;
    height: 44px;
    margin-bottom: 20px;
    line-height: 44px;
}

.reg_begin .reg_2 span {
    float: left;
    display: inline;
}

.reg_begin .reg_2 .reg_ico {
    margin: 8px 0 0 7px;
}

.reg_begin .reg_2 .reg_ico1 {
    margin: 6px 0 0 10px;
}

.reg_begin .reg_2 .int1 {
    color: #757575;
    border: 0;
    margin-left: 18px;
    font-family: Microsoft YaHei;
}


/*注册后选择**/

.reglater {
    margin: 0 auto;
    position: relative;
}

.reglater a.logo {
    background: url(images/logo_110x110.png) no-repeat;
    display: block;
    width: 110px;
    height: 110px;
    text-indent: -9999em;
    margin: 35px 0 0 0;
}

.choose-tags {
    background: url(/resources/style/app/images/register.gif) no-repeat center top;
    min-height: 360px;
    margin-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.search-tags {
    float: left;
    width: 45%;
}

.search-tags .search-bar {
    overflow: hidden;
}

.search-tags .search-bar input {
    float: left;
}

.search-tags .search-bar input.text {
    border: none;
    background: #fff;
    width: 280px;
    height: 30px;
    padding: 0 10px;
    color: #757575;
    margin: 0 13px 0 0;
}

.search-tags .tagslist {
    overflow: hidden;
    padding: 50px 0 0 0;
}

.tag-item {
    float: left;
    height: 30px;
    background: url(/resources/style/app/images/add.gif) no-repeat right center #fff;
    line-height: 30px;
    border: 1px solid #f6f6f6;
    padding: 0 27px 0 10px;
    margin: 0 25px 25px 0;
}

.had-gz-tags {
    float: right;
    width: 45%;
}

.had-gz-tags dl dt strong {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.had-gz-tags dl dt .num {
    float: right;
    color: #fff;
    padding-right: 30px;
}

.had-gz-tags dl dd {
    overflow: hidden;
    padding: 63px 0 0 0;
}

.tag-item-listened {
    background-color: #fff;
    float: left;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f6f6f6;
    padding: 0 5px 0 10px;
    margin: 0 25px 25px 0;
    color: #444444;
}

.tag-item-listened a {
    width: 10px;
    height: 10px;
    display: block;
    float: right;
    margin: 10px 0 0 12px;
    background: url(/resources/style/app/images/close.png) no-repeat right center #fff;
}

.reglater a.complete-reg {
    text-indent: -9999em;
    background: url(/resources/style/app/images/end_btn.png) no-repeat;
    width: 143px;
    height: 44px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 640px) {

    .choose-tags {
        background: none;
    }

    .search-tags, .had-gz-tags {
        width: auto;
        float: none;
    }

    .had-gz-tags {
        padding-top: 30px;
    }

    .search-tags .search-bar input.text {
        width: 180px;
    }

    .search-tags .tagslist {
        padding: 30px 0 0 0;
    }

    .had-gz-tags dl dd {
        padding: 43px 0 0 0;
    }

    .register .logo {
        background-size: 160px;
        margin: 0 auto 0 auto;
        height: 160px;
    }
}