.update-avatar {
    display: none;
}

.update-avatar .main-content {
    height: 350px;
    overflow: hidden;
}

.update-avatar .main-content p {
    color: #6D6D6D;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 10px 10px 0;
}

.update-avatar .east-content p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0 10px 10px;
}

.main-content {
    border-right: 1px solid #4a4a4a;
    width: 300px;
    float: left;
}

.east-content {
    float: left;
    width: 150px;
}

.avatar-src {
}

.avatar{
    border: 1px solid #444444;
}

.avatar-normal {
    margin: 30px 0 0 20px;

    width: 100px;
    height: 100px;
    overflow: hidden;
}

.avatar-small {
    margin: 50px 0 0 20px;

    width: 40px;
    height: 40px;
    overflow: hidden;
}

.upload-avatar .plupload {
    top: 0 !important;
    left: 0 !important;
    width: 120px !important;
    height: 30px !important;
}