<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<script>
    function initIsHardAdTips() {
        new W.Tips({
            group: 'edit',
            target: ".js_isHardDialogue",
            autoHide: 0,
            width: 300,
            autoHide: false,
            type: "click",
            title: "是否接硬广",
            html: '<div class="policy_modifications"><table border="0" cellspacing="0" cellpadding="0"><tr><td><label class="policy_modifications_yes js_appendExtend"><input class="js_extendAccountId" type="text" style="display:none" value="" /><input type="radio" name="isExtendRadio" class="js_extendRadioTrue" value="1"/><span>是</span></label><label><input type="radio" class="js_extendRadioFalse" name="isExtendRadio" value="0"/><span>否</span></label></td></tr><tr><td class="modifications_select_all"><label><input type="checkbox"  name="selectAllExtendCheckbox" /><span>本次操作应用于所有账号。</span></label></td></tr></table></div>',

            bbar: [
                {
                    text: "确定",
                    handler: function () {
                        var isExtendRadio = $('input[name=isExtendRadio]:checked').val();
                        var selectAllCheckbox = $('input[name=selectAllExtendCheckbox]').attr('checked');
                        var accountId = $(".js_extendAccountId").val();
                        var self = this;
                        if (selectAllCheckbox) {
                            W.confirm("确认对全部账号进行是否接硬广的设置吗？", function (sure) {
                                if (!sure) {
                                    return false;
                                } else {
                                    var message = W.message("处理中", "loading", 1000);
                                    $.ajax({
                                        type: "POST",
                                        url: "/information/accountmanage/setextend",
                                        data: "accountId=" + accountId + "&isExtendRadio=" + isExtendRadio + "&selectAllCheckbox=" + selectAllCheckbox,
                                        dataType: "json",
                                        success: function (msg) {
                                            message.close();

                                            if (msg['status'] == false) {
                                                W.alert(msg['message']);
                                            } else {
                                                W.alert("操作成功！", "success");
                                                self.close();
                                                grid.reload();
                                            }
                                        },
                                        error: function () {
                                            W.alert("服务器有误，请联系管理员！");
                                            return false;
                                        }
                                    })
                                }
                            });
                        } else {
                            var message = W.message("处理中", "loading", 1000);
                            $.ajax({
                                type: "POST",
                                url: "/information/accountmanage/setextend",
                                data: "accountId=" + accountId + "&isExtendRadio=" + isExtendRadio + "&selectAllCheckbox=" + selectAllCheckbox,
                                success: function (msg) {
                                    message.close();
                                    if (msg['status'] == false) {
                                        W.alert(msg['message']);
                                    } else {
                                        W.alert("操作成功！", "success");
                                        self.close();
                                        grid.reload();
                                    }
                                },
                                error: function () {
                                    W.alert("服务器有误，请联系管理员！");
                                    return false;
                                }
                            })
                        }

                    }

                },
                {
                    text: "取消",
                    type: "normal",
                    handler: function () {
                        this.close();
                    }
                }
            ],
            listeners: {
                ontargetchanged: function () {
                    var data_radio = this.currentTarget.attr("data_radio");
                    var data_account_id = this.currentTarget.attr("data_account_id");
                    $('.js_extendAccountId').val(data_account_id);
                    if (data_radio == false || data_radio == 2) {
                        $(".js_extendRadioFalse").prop('checked', true);

                    } else {
                        $(".js_extendRadioTrue").prop('checked', true);
                    }
                    $("input[name='selectAllExtendCheckbox']").attr("checked", false);
                }
            }
        });
    }

    initIsHardAdTips();
    W.alert("服务器有误，请联系管理员！");
</script>

</body>
</html>