<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小萌AVI-图片页</title>
<link href="common/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<script type="text/javascript" src="common/jquery-1.7.2.min.js"></script>
<script src="common/cascade.js" type="text/javascript"></script>
<script src="common/search.js" type="text/javascript"></script>
</head>
<body>
<div class="header">
  <div class="mwidth"> <a href="javascript:;" class="logo" target="_blank" title="小萌AVI">小萌AVI</a>
    <ul class="nav">
      <li class="current"><a href="index.html" title="首页" class="nav1">首页</a></li>
      <li><a href="classification.html" title="分类" class="nav2">分类</a></li>
      <li><a href="top.html" title="热门" class="nav3">热门</a></li>
      <li><a href="periphery.html" title="周边" class="nav4">周边</a></li>
    </ul>
    <div class="search">
      <input type="text" class="ipt_text" id="ipt_search" value="输入文字..." />
      <a href="javascript:;" class="search_ok" title="搜索"></a></div>
    <div class="Login_area" id="Login_area"> <a href="javascript:;" id="login_btn" class="btn"><b>登录</b></a> <a href="registered.html" class="btn"><b>注册</b></a><a href="javascript:;" class="btn btn1"><b>发布</b></a> <a href="javascript:;" class="btn btn2"><b>审核</b></a> </div>
    <div class="Login_area" id="Login_area_two"><a href="javascript:;" class="secelt_btn"><img src="images/photo01.gif"/><span>女王奈</span>
      <div class="secelt_up">
        <p title="个人主页">个人主页</p>
        <p title="消息">消息</p>
        <p title="设置">设置</p>
        <p id="quit" title="退出">退出</p>
      </div>
      </a><a href="javascript:;" class="btn btn1"><b>发布</b></a> <a href="javascript:;" class="btn btn2"><b>审核</b></a> </div>
  </div>
</div>
<div class="mwidth box">
  <div class="album_left">
    <div class="bor_light2">
      <div class="bor_lightt2"></div>
      <div class="picture"> <a href="javascript:;" class="btn_block">摄影</a> <a href="javascript:;" class="btn_block">人物</a> <a href="javascript:;" class="btn_block btn_modify">修改</a>
      <h6 class="blue">短发也漂亮！~</h6>
      <div class="img_tu"><img src="images/photo08.jpg" width="491" height="591" /></div>
      
        <div class="currcett"><span class="blue">收集  46313</span><span class="pink">喜欢  46313</span></div>
        <!--<div class="currcetc"><a class="fr btn_d" href="javascript:;">查看来源</a>来源：www.bitauto.com  </div>-->
        <div class="currcetd">
          <textarea name="" cols="" class="ipt_textarea" rows="">添加你的评论...
          </textarea></div>
        <div class="currcete"><a href="javascript:;" class="fr blue btn_e">查看全部评论</a><span class="fr">共108条评论</span><a href="javascript:;" class="btn btn1"><b>发布</b></a></div>
         <ul class="comments_list">
         <li><a href="javascript:;" class="fl"><img src="images/photo02.gif" width="64" height="64" /></a><h2><span class="blue">喜布家</span>3天前</h2><p>这杆拉到一定程度可以固定吗？<a href="#" class="blue">回复</a></p></li><li><a href="javascript:;" class="fl"><img src="images/photo02.gif" width="64" height="64" /></a><h2><span class="blue">喜布家</span>3天前</h2><p>这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗这杆拉到一定程度可以固定吗？<a href="#" class="blue">回复</a></p></li>
         </ul>
      </div>
      <div class="bor_lightf2"></div>
    </div>
    <div class="bor_light2">
      <div class="bor_lightt2"></div>
      <div class="album_tit">
        <h1 class="pink">还被5人收集在以下专辑 </h1>
        <!--<div class="xingx"><span class="fr blue"><img src="images/photo01.png" width="30" height="30" /><tt class="blue">阿魄的赤子傻劲</tt></span><b class="blue">短赤</b><span class="pink">74个收藏　|　0人喜欢</span></div>-->
        <div class="photo_list1">
    <ul class="pho_list">
    <li><a href="#"><img src="images/photo06.jpg" width="176" height="165" /><span>短发~~</span></a></li>
    <li><a href="#"><img src="images/photo06.jpg" width="176" height="165" /><span>短发~~</span></a></li>
    <li><a href="#"><img src="images/photo06.jpg" width="176" height="165" /><span>短发~~</span></a></li>
    <li><a href="#"><img src="images/photo06.jpg" width="176" height="165" /><span>短发~~</span></a></li>
    <li><a href="#"><img src="images/photo06.jpg" width="176" height="165" /><span>短发~~</span></a></li>
    </ul> 
        </div>
      </div>
      <div class="bor_lightf2"></div>
    </div>
  </div>
  <div class="box_right">
    <div class="bor_light hourshot">
      <div class="bor_lightt"></div>
      <div class="box_center">
        <div class="user_list">
          <ul>
            <li><a href="#"><img src="images/photo02.gif" class="user_img" /></a>
              <h2><a href="javascript:;" class="attention">关注</a>女王奈</h2>
              发布到 <span class="blue">短发~</span>专辑中</li>
          </ul>
        </div>
		 <div><h6 class="pink">专辑中的其它图片</h6></div>
		  <div class="photo_list bor01"> <a href="javascript:;"><img src="images/photo03.jpg" /></a> <a href="javascript:;"><img src="images/photo04.jpg" /></a> <a href="javascript:;"><img src="images/photo03.jpg" /></a> <a href="javascript:;"><img src="images/photo04.jpg" /></a> <a href="javascript:;"><img src="images/photo03.jpg" /></a> <a href="javascript:;"><img src="images/photo04.jpg" /></a> <a href="javascript:;"><img src="images/photo03.jpg" /></a> <a href="javascript:;"><img src="images/photo04.jpg" /></a> </div>
        <div class="currcett"><span class="blue">46313</span><span class="pink">46313</span></div>
      </div>
      <div class="bor_lightf"></div>
    </div>
  </div>
</div>
<div class="mwidth footer">
  <div class="xian"></div>
  <span><a href="about.html">关于我们</a>|<a href="privacy_policy.html">隐私政策</a>|<a href="contact.html">联系我们</a>|<a href="message.html">留言建议</a>|<a href="#">关注我们</a><a href="#">（新浪微博</a>|<a href="#">人人网）</a></span>&copy; 2012 xiaomengavi.com  京ICP备00056789 </div>
</body>
</html>