<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小萌AVI-弹出框</title>
<link href="common/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<script type="text/javascript" src="common/jquery-1.7.2.min.js"></script>
<script src="common/cascade.js" type="text/javascript"></script>
<script src="common/search.js" type="text/javascript"></script>
</head>
<body>
<div id="popup_layer">
  <div class="layer_bg"></div>
  <div id="login"> <a href="javascript:;" title="关闭" class="close"></a>
    <h1 class="pink">登录</h1>
    <div class="login_left">
      <ul>
        <li>
          <label class="label">用户名:</label>
          <input type="text" class="ipt_text" />
        </li>
        <li>
          <label class="label">密　码:</label>
          <input type="text" class="ipt_text" />
        </li>
        <li>
          <label>
            <input type="checkbox" class="ipt_checkbox" />
            两周内免登录</label>
        </li>
        <li class="li_tj"><a href="javascript:;" class="btn btn2"><b>登录</b></a><a href="javascript:;" class="pink forgetpass">忘记密码</a></li>
      </ul>
    </div>
    <div class="login_right">
      <p>还不是萌友？</p>
      <p><a href="javascript:;" class="btn btn1"><b>现在注册</b></a></p>
      <p><a href="#" class="login_icon1">用微博帐户登录</a></p>
      <p><a href="#" class="login_icon2">用QQ帐号登录</a></p>
      <p><a href="#" class="login_icon3">用淘宝帐户登录</a></p>
    </div>
  </div>
  <div id="Incorrect">
    <p class="pink">填写的格式不正确</p>
    <a href="javascript:;" class="btn btn2 close"><b>返回</b></a> </div>
  <div id="success" class="close">发布成功</div>
  <div id="login_prompt"> <a href="javascript:;" title="关闭" class="close"></a>
    <p class="pink">需要登录后才能继续操作<br />
      现在 <a href="#" class="blue">登录</a> 或 <a href="registered.html" class="blue">注册</a></p>
  </div>
  <div id="Favorites"> <a href="javascript:;" title="关闭" class="close"></a>
    <h1 class="pink">收藏</h1>
    <div class="Favorites"> <a href="javascript:;"><img src="images/photo05.jpg" class="pho_left" /></a>
      <h2>收藏到</h2>
      <textarea name="" cols="" rows="5">默认专辑
汽车
其它</textarea>
      <div class="Favorites_a">
        <input name="" type="text" class="ipt_text" />
        <a href="javascript:;" class="btn btn2"><b>创建</b></a></div>
    </div>
  </div>
</div>
</body>
</html>